<div class="container mt-4 title">
    <div class="row">
        <div class="col">
            <h1>
                <i class="fa-solid fa-pen"></i> &nbsp;
                    Edit Contact Page
            </h1>

            <p style="text-align: justify;">
                This is dummy data: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, ex. Explicabo non consequatur odit corrupti. Necessitatibus, tenetur labore totam dolorum magnam, laborum amet veritatis aut natus accusamus animi impedit delectus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, ex. Explicabo non consequatur odit corrupti. Necessitatibus, tenetur labore totam dolorum magnam, laborum amet veritatis aut natus accusamus animi impedit delectus!
            </p>
        </div>
    </div>

    <!-- add contact form -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form class="border p-3 rounded mb-5">
                    <div class="mb-2">
                        <input placeholder="Name" type="text" class="form-control" >
                    </div>
                    <div class="mb-2">
                        <input placeholder="Photo URL" type="text" class="form-control" >
                    </div>
                    <div class="mb-2">
                        <input placeholder="Email ID" type="text" class="form-control" >
                    </div>
                    <div class="mb-2">
                        <input placeholder="Mobile Number" type="text" class="form-control" >
                    </div>
                    <div class="mb-2">
                        <input placeholder="Company" type="text" class="form-control" >
                    </div>
                    <div class="mb-2">
                        <input placeholder="Title" type="text" class="form-control" >
                    </div>
                    <div class="mb-2">
                        <select name="" id="" class="form-control">
                            <option value="" selected hidden disabled>Select A Group</option>
                            <option value="">Family</option>
                            <option value="">Friends</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <input value="Update" type="button" class="btn btn-success" >
                        <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <img src="https://www.shareicon.net/data/2016/07/08/116927_man_512x512.png" alt="no image" class="contact_image mt-2">
            </div>
        </div>
    </div>
</div>